/* ::::: http://localhost:8080/estim-blank-theme/css/aui.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436456438000 ::::: */

@font-face {
	font-family: "fontawesome-alloy";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-alloy.eot') format("embedded-opentype"), url('fontawesome-alloy.woff') format("woff"), url('fontawesome-alloy.ttf') format("truetype"), url('fontawesome-alloy.svg') format("svg");
}
.aui { background-color: white; color: rgb(51, 51, 51); font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; margin: 0px; }
.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav, .aui section { display: block; }
.aui audio:not([controls]) { display: none; }
.aui a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.aui a:hover, .aui a:active { outline: 0px none; }
.aui img { max-width: 100%; height: auto; vertical-align: middle; border: 0px none; }
.aui button, .aui input, .aui select, .aui textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
.aui button, .aui input { line-height: normal; }
.aui button::-moz-focus-inner, .aui input::-moz-focus-inner { padding: 0px; border: 0px none; }
.aui button, .aui html input[type="button"], .aui input[type="reset"], .aui input[type="submit"] { cursor: pointer; }
.aui label, .aui select, .aui button, .aui input[type="button"], .aui input[type="reset"], .aui input[type="submit"], .aui input[type="radio"], .aui input[type="checkbox"] { cursor: pointer; }
.aui input[type="search"] { box-sizing: content-box; }
.aui body { margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); background-color: white; }
.aui a { color: rgb(0, 170, 255); text-decoration: none; }
.aui a:hover, .aui a:focus { color: rgb(0, 119, 179); text-decoration: underline; }
.aui .row::before, .aui .row::after { display: table; content: ""; line-height: 0; }
.aui .row::after { clear: both; }
.aui [class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
.aui .span12 { width: 940px; }
.aui .row-fluid { width: 100%; }
.aui .row-fluid::before, .aui .row-fluid::after { display: table; content: ""; line-height: 0; }
.aui .row-fluid::after { clear: both; }
.aui .row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 2.12766%; }
.aui .row-fluid [class*="span"]:first-child { margin-left: 0px; }
.aui .row-fluid .span12 { width: 100%; }
.aui .container::before, .aui .container::after { display: table; content: ""; line-height: 0; }
.aui .container::after { clear: both; }
.aui .container-fluid::before, .aui .container-fluid::after { display: table; content: ""; line-height: 0; }
.aui .container-fluid::after { clear: both; }
.aui p { margin: 0px 0px 10px; }
.aui strong { font-weight: bold; }
.aui h1, .aui h2, .aui h3, .aui h4, .aui h5, .aui h6 { margin: 10px 0px; font-family: inherit; font-weight: bold; line-height: 20px; color: inherit; text-rendering: optimizelegibility; }
.aui h1, .aui h2, .aui h3 { line-height: 40px; }
.aui h1 { font-size: 38.5px; }
.aui ul, .aui ol { padding: 0px; margin: 0px 0px 10px 25px; }
.aui ul ul, .aui ul ol, .aui ol ol, .aui ol ul { margin-bottom: 0px; }
.aui li { line-height: 20px; }
.aui .dl-horizontal::before, .aui .dl-horizontal::after { display: table; content: ""; line-height: 0; }
.aui .dl-horizontal::after { clear: both; }
.aui blockquote small::before { content: "— "; }
.aui blockquote.pull-right small::before { content: ""; }
.aui blockquote.pull-right small::after { content: " —"; }
.aui q::before, .aui q::after, .aui blockquote::before, .aui blockquote::after { content: ""; }
.aui form { margin: 0px 0px 20px; }
.aui label, .aui input, .aui button, .aui select, .aui textarea { font-size: 14px; font-weight: normal; line-height: 20px; }
.aui input, .aui button, .aui select, .aui textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
.aui label { display: block; margin-bottom: 5px; }
.aui select, .aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input { display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: rgb(85, 85, 85); border-radius: 2px; vertical-align: middle; }
.aui input, .aui textarea, .aui .uneditable-input { width: 206px; }
.aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input { background-color: white; border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
.aui textarea:focus, .aui input[type="text"]:focus, .aui input[type="password"]:focus, .aui input[type="datetime"]:focus, .aui input[type="datetime-local"]:focus, .aui input[type="date"]:focus, .aui input[type="month"]:focus, .aui input[type="time"]:focus, .aui input[type="week"]:focus, .aui input[type="number"]:focus, .aui input[type="email"]:focus, .aui input[type="url"]:focus, .aui input[type="search"]:focus, .aui input[type="tel"]:focus, .aui input[type="color"]:focus, .aui .uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); }
.aui input:-moz-placeholder, .aui textarea:-moz-placeholder { color: rgb(153, 153, 153); }
.aui input, .aui textarea, .aui .uneditable-input { margin-left: 0px; }
.aui .controls-row::before, .aui .controls-row::after { display: table; content: ""; line-height: 0; }
.aui .controls-row::after { clear: both; }
.aui input:focus:invalid, .aui textarea:focus:invalid, .aui select:focus:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
.aui input:focus:invalid:focus, .aui textarea:focus:invalid:focus, .aui select:focus:invalid:focus { border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px rgb(248, 185, 183); }
.aui .form-actions::before, .aui .form-actions::after { display: table; content: ""; line-height: 0; }
.aui .form-actions::after { clear: both; }
.aui .form-search input, .aui .form-search textarea, .aui .form-search select, .aui .form-search .help-inline, .aui .form-search .uneditable-input, .aui .form-search .input-prepend, .aui .form-search .input-append, .aui .form-inline input, .aui .form-inline textarea, .aui .form-inline select, .aui .form-inline .help-inline, .aui .form-inline .uneditable-input, .aui .form-inline .input-prepend, .aui .form-inline .input-append, .aui .form-horizontal input, .aui .form-horizontal textarea, .aui .form-horizontal select, .aui .form-horizontal .help-inline, .aui .form-horizontal .uneditable-input, .aui .form-horizontal .input-prepend, .aui .form-horizontal .input-append { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
.aui .form-search label, .aui .form-inline label, .aui .form-search .btn-group, .aui .form-inline .btn-group { display: inline-block; }
.aui .form-horizontal .control-group::before, .aui .form-horizontal .control-group::after { display: table; content: ""; line-height: 0; }
.aui .form-horizontal .control-group::after { clear: both; }
.aui .table-striped tbody > tr:nth-child(2n+1) > td, .aui .table-striped tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
.aui .dropdown-submenu > a::after { display: block; content: " "; float: right; width: 0px; height: 0px; border-color: transparent transparent transparent rgb(204, 204, 204); border-style: solid; border-width: 5px 0px 5px 5px; margin-top: 5px; margin-right: -10px; }
.aui .dropdown-submenu:hover > a::after { border-left-color: white; }
.aui button.btn::-moz-focus-inner, .aui input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.aui .nav-tabs::before, .aui .nav-tabs::after, .aui .nav-pills::before, .aui .nav-pills::after { display: table; content: ""; line-height: 0; }
.aui .nav-tabs::after, .aui .nav-pills::after { clear: both; }
.aui .tabbable::before, .aui .tabbable::after { display: table; content: ""; line-height: 0; }
.aui .tabbable::after { clear: both; }
.aui .navbar-inner::before, .aui .navbar-inner::after { display: table; content: ""; line-height: 0; }
.aui .navbar-inner::after { clear: both; }
.aui .navbar-form::before, .aui .navbar-form::after { display: table; content: ""; line-height: 0; }
.aui .navbar-form::after { clear: both; }
.aui .navbar .nav > li > .dropdown-menu::before { content: ""; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid rgba(0, 0, 0, 0.2); position: absolute; top: -7px; left: 9px; }
.aui .navbar .nav > li > .dropdown-menu::after { content: ""; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid white; position: absolute; top: -6px; left: 10px; }
.aui .navbar-fixed-bottom .nav > li > .dropdown-menu::before { border-top: 7px solid rgba(0, 0, 0, 0.2); border-bottom: 0px none; bottom: -7px; top: auto; }
.aui .navbar-fixed-bottom .nav > li > .dropdown-menu::after { border-top: 6px solid white; border-bottom: 0px none; bottom: -6px; top: auto; }
.aui .navbar .pull-right > li > .dropdown-menu::before, .aui .navbar .nav > li > .dropdown-menu.pull-right::before { left: auto; right: 12px; }
.aui .navbar .pull-right > li > .dropdown-menu::after, .aui .navbar .nav > li > .dropdown-menu.pull-right::after { left: auto; right: 13px; }
.aui .pagination { margin: 20px 0px; }
.aui .pager::before, .aui .pager::after { display: table; content: ""; line-height: 0; }
.aui .pager::after { clear: both; }
.aui .modal-footer::before, .aui .modal-footer::after { display: table; content: ""; line-height: 0; }
.aui .modal-footer::after { clear: both; }
.aui .popover .arrow, .aui .popover .arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.aui .popover .arrow::after { border-width: 10px; content: ""; }
.aui .popover.top .arrow::after { bottom: 1px; margin-left: -10px; border-bottom-width: 0px; border-top-color: white; }
.aui .popover.right .arrow::after { left: 1px; bottom: -10px; border-left-width: 0px; border-right-color: white; }
.aui .popover.bottom .arrow::after { top: 1px; margin-left: -10px; border-top-width: 0px; border-bottom-color: white; }
.aui .popover.left .arrow::after { right: 1px; border-right-width: 0px; border-left-color: white; bottom: -10px; }
.aui .thumbnails::before, .aui .thumbnails::after { display: table; content: ""; line-height: 0; }
.aui .thumbnails::after { clear: both; }
.aui .clearfix::before, .aui .clearfix::after { display: table; content: ""; line-height: 0; }
.aui .clearfix::after { clear: both; }
.aui .hide-accessible { clip: rect(0px, 0px, 0px, 0px) ! important; position: absolute ! important; }
.aui .clearfix::before, .aui .clearfix::after { display: table; content: ""; line-height: 0; }
.aui .clearfix::after { clear: both; }
.aui [class^="icon-"]::before, .aui [class*=" icon-"]::before { text-decoration: inherit; display: inline-block; }
.aui .icon-large::before { vertical-align: -10%; font-size: 1.33333em; }
.aui .icon-rotate-90::before { transform: rotate(90deg); }
.aui .icon-rotate-180::before { transform: rotate(180deg); }
.aui .icon-rotate-270::before { transform: rotate(270deg); }
.aui .icon-flip-horizontal::before { transform: scale(-1, 1); }
.aui .icon-flip-vertical::before { transform: scale(1, -1); }
.aui a .icon-rotate-90::before, .aui a .icon-rotate-180::before, .aui a .icon-rotate-270::before, .aui a .icon-flip-horizontal::before, .aui a .icon-flip-vertical::before { display: inline-block; }
.aui [data-icon]::before { font-family: "fontawesome-alloy"; content: attr(data-icon); font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.aui .icon-music::before { content: ""; }
.aui .icon-search::before { content: ""; }
.aui .icon-envelope::before { content: ""; }
.aui .icon-heart::before { content: ""; }
.aui .icon-star::before { content: ""; }
.aui .icon-star-empty::before { content: ""; }
.aui .icon-user::before { content: ""; }
.aui .icon-film::before { content: ""; }
.aui .icon-th-large::before { content: ""; }
.aui .icon-th::before { content: ""; }
.aui .icon-th-list::before { content: ""; }
.aui .icon-ok::before { content: ""; }
.aui .icon-remove::before { content: ""; }
.aui .icon-zoom-in::before { content: ""; }
.aui .icon-zoom-out::before { content: ""; }
.aui .icon-off::before { content: ""; }
.aui .icon-signal::before { content: ""; }
.aui .icon-cog::before { content: ""; }
.aui .icon-trash::before { content: ""; }
.aui .icon-home::before { content: ""; }
.aui .icon-file::before { content: ""; }
.aui .icon-time::before { content: ""; }
.aui .icon-road::before { content: ""; }
.aui .icon-download-alt::before { content: ""; }
.aui .icon-download::before { content: ""; }
.aui .icon-upload::before { content: ""; }
.aui .icon-inbox::before { content: ""; }
.aui .icon-play-circle::before { content: ""; }
.aui .icon-repeat::before { content: ""; }
.aui .icon-refresh::before { content: ""; }
.aui .icon-list-alt::before { content: ""; }
.aui .icon-lock::before { content: ""; }
.aui .icon-flag::before { content: ""; }
.aui .icon-headphones::before { content: ""; }
.aui .icon-volume-off::before { content: ""; }
.aui .icon-volume-down::before { content: ""; }
.aui .icon-volume-up::before { content: ""; }
.aui .icon-qrcode::before { content: ""; }
.aui .icon-barcode::before { content: ""; }
.aui .icon-tag::before { content: ""; }
.aui .icon-tags::before { content: ""; }
.aui .icon-book::before { content: ""; }
.aui .icon-bookmark::before { content: ""; }
.aui .icon-print::before { content: ""; }
.aui .icon-camera::before { content: ""; }
.aui .icon-font::before { content: ""; }
.aui .icon-bold::before { content: ""; }
.aui .icon-italic::before { content: ""; }
.aui .icon-text-height::before { content: ""; }
.aui .icon-text-width::before { content: ""; }
.aui .icon-align-left::before { content: ""; }
.aui .icon-align-center::before { content: ""; }
.aui .icon-align-right::before { content: ""; }
.aui .icon-align-justify::before { content: ""; }
.aui .icon-list::before { content: ""; }
.aui .icon-indent-left::before { content: ""; }
.aui .icon-indent-right::before { content: ""; }
.aui .icon-facetime-video::before { content: ""; }
.aui .icon-picture::before { content: ""; }
.aui .icon-pencil::before { content: ""; }
.aui .icon-map-marker::before { content: ""; }
.aui .icon-adjust::before { content: ""; }
.aui .icon-tint::before { content: ""; }
.aui .icon-edit::before { content: ""; }
.aui .icon-share::before { content: ""; }
.aui .icon-check::before { content: ""; }
.aui .icon-move::before { content: ""; }
.aui .icon-step-backward::before { content: ""; }
.aui .icon-fast-backward::before { content: ""; }
.aui .icon-backward::before { content: ""; }
.aui .icon-play::before { content: ""; }
.aui .icon-pause::before { content: ""; }
.aui .icon-stop::before { content: ""; }
.aui .icon-forward::before { content: ""; }
.aui .icon-fast-forward::before { content: ""; }
.aui .icon-step-forward::before { content: ""; }
.aui .icon-eject::before { content: ""; }
.aui .icon-chevron-left::before { content: ""; }
.aui .icon-chevron-right::before { content: ""; }
.aui .icon-plus-sign::before { content: ""; }
.aui .icon-minus-sign::before { content: ""; }
.aui .icon-remove-sign::before { content: ""; }
.aui .icon-ok-sign::before { content: ""; }
.aui .icon-question-sign::before { content: ""; }
.aui .icon-info-sign::before { content: ""; }
.aui .icon-screenshot::before { content: ""; }
.aui .icon-remove-circle::before { content: ""; }
.aui .icon-ok-circle::before { content: ""; }
.aui .icon-ban-circle::before { content: ""; }
.aui .icon-arrow-left::before { content: ""; }
.aui .icon-arrow-right::before { content: ""; }
.aui .icon-arrow-up::before { content: ""; }
.aui .icon-arrow-down::before { content: ""; }
.aui .icon-share-alt::before { content: ""; }
.aui .icon-resize-full::before { content: ""; }
.aui .icon-resize-small::before { content: ""; }
.aui .icon-plus::before { content: ""; }
.aui .icon-minus::before { content: ""; }
.aui .icon-asterisk::before { content: ""; }
.aui .icon-exclamation-sign::before { content: ""; }
.aui .icon-gift::before { content: ""; }
.aui .icon-leaf::before { content: ""; }
.aui .icon-fire::before { content: ""; }
.aui .icon-eye-open::before { content: ""; }
.aui .icon-eye-close::before { content: ""; }
.aui .icon-warning-sign::before { content: ""; }
.aui .icon-plane::before { content: ""; }
.aui .icon-calendar::before { content: ""; }
.aui .icon-random::before { content: ""; }
.aui .icon-comment::before { content: ""; }
.aui .icon-magnet::before { content: ""; }
.aui .icon-chevron-up::before { content: ""; }
.aui .icon-chevron-down::before { content: ""; }
.aui .icon-retweet::before { content: ""; }
.aui .icon-shopping-cart::before { content: ""; }
.aui .icon-folder-close::before { content: ""; }
.aui .icon-folder-open::before { content: ""; }
.aui .icon-resize-vertical::before { content: ""; }
.aui .icon-resize-horizontal::before { content: ""; }
.aui .icon-bar-chart::before { content: ""; }
.aui .icon-twitter-sign::before { content: ""; }
.aui .icon-facebook-sign::before { content: ""; }
.aui .icon-camera-retro::before { content: ""; }
.aui .icon-key::before { content: ""; }
.aui .icon-cogs::before { content: ""; }
.aui .icon-comments::before { content: ""; }
.aui .icon-thumbs-up::before { content: ""; }
.aui .icon-thumbs-down::before { content: ""; }
.aui .icon-star-half::before { content: ""; }
.aui .icon-heart-empty::before { content: ""; }
.aui .icon-signout::before { content: ""; }
.aui .icon-linkedin-sign::before { content: ""; }
.aui .icon-pushpin::before { content: ""; }
.aui .icon-external-link::before { content: ""; }
.aui .icon-signin::before { content: ""; }
.aui .icon-trophy::before { content: ""; }
.aui .icon-github-sign::before { content: ""; }
.aui .icon-upload-alt::before { content: ""; }
.aui .icon-lemon::before { content: ""; }
.aui .icon-phone::before { content: ""; }
.aui .icon-check-empty::before { content: ""; }
.aui .icon-bookmark-empty::before { content: ""; }
.aui .icon-phone-sign::before { content: ""; }
.aui .icon-twitter::before { content: ""; }
.aui .icon-facebook::before { content: ""; }
.aui .icon-github::before { content: ""; }
.aui .icon-unlock::before { content: ""; }
.aui .icon-credit::before { content: ""; }
.aui .icon-rss::before { content: ""; }
.aui .icon-hdd::before { content: ""; }
.aui .icon-bullhorn::before { content: ""; }
.aui .icon-bell::before { content: ""; }
.aui .icon-certificate::before { content: ""; }
.aui .icon-hand-right::before { content: ""; }
.aui .icon-hand-left::before { content: ""; }
.aui .icon-hand-up::before { content: ""; }
.aui .icon-hand-down::before { content: ""; }
.aui .icon-circle-arrow-left::before { content: ""; }
.aui .icon-circle-arrow-right::before { content: ""; }
.aui .icon-circle-arrow-up::before { content: ""; }
.aui .icon-circle-arrow-down::before { content: ""; }
.aui .icon-globe::before { content: ""; }
.aui .icon-wrench::before { content: ""; }
.aui .icon-tasks::before { content: ""; }
.aui .icon-filter::before { content: ""; }
.aui .icon-briefcase::before { content: ""; }
.aui .icon-fullscreen::before { content: ""; }
.aui .icon-group::before { content: ""; }
.aui .icon-link::before { content: ""; }
.aui .icon-cloud::before { content: ""; }
.aui .icon-beaker::before { content: ""; }
.aui .icon-cut::before { content: ""; }
.aui .icon-copy::before { content: ""; }
.aui .icon-paper-clip::before { content: ""; }
.aui .icon-save::before { content: ""; }
.aui .icon-sign-blank::before { content: ""; }
.aui .icon-reorder::before { content: ""; }
.aui .icon-list-ul::before { content: ""; }
.aui .icon-list-ol::before { content: ""; }
.aui .icon-strikethrough::before { content: ""; }
.aui .icon-underline::before { content: ""; }
.aui .icon-table::before { content: ""; }
.aui .icon-magic::before { content: ""; }
.aui .icon-truck::before { content: ""; }
.aui .icon-pinterest::before { content: ""; }
.aui .icon-pinterest-sign::before { content: ""; }
.aui .icon-google-plus-sign::before { content: ""; }
.aui .icon-google-plus::before { content: ""; }
.aui .icon-money::before { content: ""; }
.aui .icon-caret-down::before { content: ""; }
.aui .icon-caret-up::before { content: ""; }
.aui .icon-caret-left::before { content: ""; }
.aui .icon-caret-right::before { content: ""; }
.aui .icon-columns::before { content: ""; }
.aui .icon-sort::before { content: ""; }
.aui .icon-sort-down::before { content: ""; }
.aui .icon-sort-up::before { content: ""; }
.aui .icon-envelope-alt::before { content: ""; }
.aui .icon-linkedin::before { content: ""; }
.aui .icon-undo::before { content: ""; }
.aui .icon-legal::before { content: ""; }
.aui .icon-dashboard::before { content: ""; }
.aui .icon-comment-alt::before { content: ""; }
.aui .icon-comments-alt::before { content: ""; }
.aui .icon-bolt::before { content: ""; }
.aui .icon-sitemap::before { content: ""; }
.aui .icon-umbrella::before { content: ""; }
.aui .icon-paste::before { content: ""; }
.aui .icon-lightbulb::before { content: ""; }
.aui .icon-exchange::before { content: ""; }
.aui .icon-cloud-download::before { content: ""; }
.aui .icon-cloud-upload::before { content: ""; }
.aui .icon-user-md::before { content: ""; }
.aui .icon-stethoscope::before { content: ""; }
.aui .icon-suitcase::before { content: ""; }
.aui .icon-bell-alt::before { content: ""; }
.aui .icon-coffee::before { content: ""; }
.aui .icon-food::before { content: ""; }
.aui .icon-file-alt::before { content: ""; }
.aui .icon-building::before { content: ""; }
.aui .icon-hospital::before { content: ""; }
.aui .icon-ambulance::before { content: ""; }
.aui .icon-medkit::before { content: ""; }
.aui .icon-fighter-jet::before { content: ""; }
.aui .icon-beer::before { content: ""; }
.aui .icon-h-sign::before { content: ""; }
.aui .icon-plus-sign-2::before { content: ""; }
.aui .icon-double-angle-left::before { content: ""; }
.aui .icon-double-angle-right::before { content: ""; }
.aui .icon-double-angle-up::before { content: ""; }
.aui .icon-double-angle-down::before { content: ""; }
.aui .icon-angle-left::before { content: ""; }
.aui .icon-angle-right::before { content: ""; }
.aui .icon-angle-up::before { content: ""; }
.aui .icon-angle-down::before { content: ""; }
.aui .icon-desktop::before { content: ""; }
.aui .icon-laptop::before { content: ""; }
.aui .icon-tablet::before { content: ""; }
.aui .icon-mobile::before { content: ""; }
.aui .icon-circle-blank::before { content: ""; }
.aui .icon-quote-left::before { content: ""; }
.aui .icon-quote-right::before { content: ""; }
.aui .icon-spinner::before { content: ""; }
.aui .icon-circle::before { content: ""; }
.aui .icon-reply::before { content: ""; }
.aui .icon-github-alt::before { content: ""; }
.aui .icon-folder-close-alt::before { content: ""; }
.aui .icon-folder-open-alt::before { content: ""; }
.aui .icon-expand-alt::before { content: ""; }
.aui .icon-collapse-alt::before { content: ""; }
.aui .icon-smile::before { content: ""; }
.aui .icon-frown::before { content: ""; }
.aui .icon-meh::before { content: ""; }
.aui .icon-gamepad::before { content: ""; }
.aui .icon-keyboard::before { content: ""; }
.aui .icon-flag-alt::before { content: ""; }
.aui .icon-flag-checkered::before { content: ""; }
.aui .icon-terminal::before { content: ""; }
.aui .icon-code::before { content: ""; }
.aui .icon-reply-all::before { content: ""; }
.aui .icon-star-half-full::before { content: ""; }
.aui .icon-location-arrow::before { content: ""; }
.aui .icon-crop::before { content: ""; }
.aui .icon-code-fork::before { content: ""; }
.aui .icon-unlink::before { content: ""; }
.aui .icon-question::before { content: ""; }
.aui .icon-info::before { content: ""; }
.aui .icon-exclamation::before { content: ""; }
.aui .icon-superscript::before { content: ""; }
.aui .icon-subscript::before { content: ""; }
.aui .icon-eraser::before { content: ""; }
.aui .icon-puzzle::before { content: ""; }
.aui .icon-microphone::before { content: ""; }
.aui .icon-microphone-off::before { content: ""; }
.aui .icon-shield::before { content: ""; }
.aui .icon-calendar-empty::before { content: ""; }
.aui .icon-fire-extinguisher::before { content: ""; }
.aui .icon-rocket::before { content: ""; }
.aui .icon-maxcdn::before { content: ""; }
.aui .icon-chevron-sign-left::before { content: ""; }
.aui .icon-chevron-sign-right::before { content: ""; }
.aui .icon-chevron-sign-up::before { content: ""; }
.aui .icon-chevron-sign-down::before { content: ""; }
.aui .icon-html5::before { content: ""; }
.aui .icon-css3::before { content: ""; }
.aui .icon-anchor::before { content: ""; }
.aui .icon-unlock-alt::before { content: ""; }
.aui .icon-bullseye::before { content: ""; }
.aui .icon-ellipsis-horizontal::before { content: ""; }
.aui .icon-ellipsis-vertical::before { content: ""; }
.aui .icon-rss-sign::before { content: ""; }
.aui .icon-play-sign::before { content: ""; }
.aui .icon-ticket::before { content: ""; }
.aui .icon-minus-sign-alt::before { content: ""; }
.aui .icon-check-minus::before { content: ""; }
.aui .icon-level-up::before { content: ""; }
.aui .icon-level-down::before { content: ""; }
.aui .icon-check-sign::before { content: ""; }
.aui .icon-edit-sign::before { content: ""; }
.aui .icon-external-link-sign::before { content: ""; }
.aui .icon-share-sign::before { content: ""; }
.aui .icon-compass::before { content: ""; }
.aui .icon-collapse::before { content: ""; }
.aui .icon-collapse-top::before { content: ""; }
.aui .icon-expand::before { content: ""; }
.aui .icon-euro::before { content: ""; }
.aui .icon-gbp::before { content: ""; }
.aui .icon-dollar::before { content: ""; }
.aui .icon-yen::before { content: ""; }
.aui .icon-renminbi::before { content: ""; }
.aui .icon-won::before { content: ""; }
.aui .icon-bitcoin::before { content: ""; }
.aui .icon-file-2::before { content: ""; }
.aui .icon-file-text::before { content: ""; }
.aui .icon-sort-by-alphabet::before { content: ""; }
.aui .icon-sort-by-alphabet-alt::before { content: ""; }
.aui .icon-sort-by-attributes::before { content: ""; }
.aui .icon-sort-by-attributes-alt::before { content: ""; }
.aui .icon-sort-by-order::before { content: ""; }
.aui .icon-sort-by-order-alt::before { content: ""; }
.aui .icon-thumbs-up-2::before { content: ""; }
.aui .icon-thumbs-down-2::before { content: ""; }
.aui .icon-youtube-sign::before { content: ""; }
.aui .icon-youtube::before { content: ""; }
.aui .icon-xing::before { content: ""; }
.aui .icon-xing-sign::before { content: ""; }
.aui .icon-youtube-play::before { content: ""; }
.aui .icon-dropbox::before { content: ""; }
.aui .icon-stackexchange::before { content: ""; }
.aui .icon-instagram::before { content: ""; }
.aui .icon-flickr::before { content: ""; }
.aui .icon-adn::before { content: ""; }
.aui .icon-bitbucket::before { content: ""; }
.aui .icon-bitbucket-sign::before { content: ""; }
.aui .icon-tumblr::before { content: ""; }
.aui .icon-tumblr-sign::before { content: ""; }
.aui .icon-long-arrow-down::before { content: ""; }
.aui .icon-long-arrow-up::before { content: ""; }
.aui .icon-long-arrow-left::before { content: ""; }
.aui .icon-long-arrow-right::before { content: ""; }
.aui .icon-apple::before { content: ""; }
.aui .icon-windows::before { content: ""; }
.aui .icon-android::before { content: ""; }
.aui .icon-linux::before { content: ""; }
.aui .icon-dribbble::before { content: ""; }
.aui .icon-skype::before { content: ""; }
.aui .icon-foursquare::before { content: ""; }
.aui .icon-trello::before { content: ""; }
.aui .icon-female::before { content: ""; }
.aui .icon-male::before { content: ""; }
.aui .icon-gittip::before { content: ""; }
.aui .icon-sun::before { content: ""; }
.aui .icon-moon::before { content: ""; }
.aui .icon-archive::before { content: ""; }
.aui .icon-bug::before { content: ""; }
.aui .icon-vk::before { content: ""; }
.aui .icon-rupee::before { content: ""; }
.aui .icon-glass::before { content: ""; }
.aui .icon-fb-text-box::before { content: ""; }
.aui .icon-fb-select::before { content: ""; }
.aui .icon-fb-radio::before { content: ""; }
.aui .icon-fb-text::before { content: ""; }
.aui .icon-fb-number::before { content: ""; }
.aui .icon-fb-integer::before { content: ""; }
.aui .icon-fb-decimal::before { content: ""; }
.aui .icon-fb-boolean::before { content: ""; }
.aui .icon-renren::before { content: ""; }
.aui .icon-weibo::before { content: ""; }
.aui .icon-db-joinxor::before { content: ""; }
.aui .icon-db-state::before { content: ""; }
.aui .icon-db-end::before { content: ""; }
.aui .icon-db-start::before { content: ""; }
.aui .icon-db-fork::before { content: ""; }
.aui .icon-db-task::before { content: ""; }
.aui .icon-db-condition::before { content: ""; }
.aui .icon-db-join::before { content: ""; }
.aui .icon-fb-button::before { content: ""; }
.aui .icon-fb-fieldset::before { content: ""; }
.aui .icon-fb-custom-field::before { content: ""; }
.aui .icon-fb-separator::before { content: ""; }
.aui .icon-fb-paragraph::before { content: ""; }
.aui .icon-fb-file-upload::before { content: ""; }
.aui .icon-btc::before { content: ""; }
.aui .icon-cny::before { content: ""; }
.aui .icon-eur::before { content: ""; }
.aui .icon-gear::before { content: ""; }
.aui .icon-gears::before { content: ""; }
.aui .icon-inr::before { content: ""; }
.aui .icon-jpy::before { content: ""; }
.aui .icon-krw::before { content: ""; }
.aui .icon-mail-forward::before { content: ""; }
.aui .icon-mail-reply::before { content: ""; }
.aui .icon-paperclip::before { content: ""; }
.aui .icon-power-off::before { content: ""; }
.aui .icon-rotate-left::before { content: ""; }
.aui .icon-rotate-right::before { content: ""; }
.aui .icon-star-half-empty::before { content: ""; }
.aui .icon-unchecked::before { content: ""; }
.aui .icon-usd::before { content: ""; }
.aui { font-size: inherit; }
.aui body { font-size: 62.5%; color: rgb(36, 36, 36); font-family: "Open Sans",sans-serif; }
.aui ul, .aui ol { margin: 0px; padding: 0px; }
.aui a, .aui a:focus, .aui a:hover { color: inherit; }
.aui h1, .aui h2, .aui h3 { line-height: 15px; font-size: inherit; }
.aui label, .aui input, .aui button, .aui select, .aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input { font-size: unset; line-height: normal; }
.aui label:focus, .aui input:focus, .aui button:focus, .aui select:focus, .aui textarea:focus, .aui input[type="text"]:focus, .aui input[type="password"]:focus, .aui input[type="datetime"]:focus, .aui input[type="datetime-local"]:focus, .aui input[type="date"]:focus, .aui input[type="month"]:focus, .aui input[type="time"]:focus, .aui input[type="week"]:focus, .aui input[type="number"]:focus, .aui input[type="email"]:focus, .aui input[type="url"]:focus, .aui input[type="search"]:focus, .aui input[type="tel"]:focus, .aui input[type="color"]:focus, .aui .uneditable-input:focus { box-shadow: none; }
.aui label { margin-bottom: 0px; display: unset; }
.aui input[type="text"] { box-shadow: none; margin-bottom: 0px; }
/* ::::: http://localhost:8080/html/css/main.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1395156522000 ::::: */

.helper-clearfix::after { clear: both; content: ""; display: block; height: 0px; }
.layout-content::after { clear: both; content: ""; display: block; height: 0px; }
.field-row::after { clear: both; content: ""; display: block; height: 0px; }
.field-content::after, .button-holder::after { clear: both; content: " "; display: block; height: 0px; overflow: hidden; }
.lfr-add-dialog .add-content-menu .add-content-descriptive .lfr-content-item::after, .lfr-add-panel .add-content-menu .add-content-descriptive .lfr-content-item::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.lfr-categories-selector-search-results label::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.lfr-form-row::after { clear: both; content: ""; display: block; height: 0px; }
.lfr-device::after { bottom: 10px; content: ""; display: none; height: 30px; left: 0px; margin: 0px auto; position: absolute; right: 0px; width: 30px; }
.lfr-device::before { content: ""; display: none; left: 0px; margin: 0px auto; position: absolute; right: 0px; top: 20px; }
.lfr-device.rotated::after { bottom: 0px; left: 10px; margin: auto; right: auto; top: 0px; }
.lfr-device.rotated::before { bottom: 0px; left: auto; margin: auto; right: 20px; top: 0px; }
.lfr-device.smartphone::after, .lfr-device.smartphone::before, .lfr-device.tablet::after, .lfr-device.tablet::before { display: block; }
.lfr-device.smartphone.rotated::before { height: 50px; width: 5px; }
.lfr-device.smartphone::before { height: 5px; width: 50px; }
.lfr-device.tablet.rotated::before { width: 10px; height: 10px; }
.lfr-device.tablet::before { height: 10px; width: 10px; }
.lfr-device::after, .lfr-device::before { background: rgb(102, 102, 102) none repeat scroll 0% 0%; }
.js .page-maximized .portlet-topper-toolbar { display: block; }
.float-container::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.lfr-portrait-preview::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.lfr-header-row::after, .lfr-header-row-content::after { clear: both; content: ""; display: block; height: 0px; }
.aui .lfr-pagination::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.lfr-search-combobox::after { clear: both; content: ""; display: block; height: 0px; }
.lfr-toolbar::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.app-view-entry-taglib.entry-display-style.display-descriptive::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.app-view-search-entry-taglib::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.taglib-discussion .lfr-discussion::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.lfr-discussion-controls::after { clear: both; content: ""; display: block; height: 0px; }
.taglib-icon-list::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.taglib-social-bookmarks ul::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.taglib-webdav table::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
/* ::::: http://localhost:8080/estim-portail-portlet/css/normalize.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436526618740 ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.clearfix::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
:first-child + html .clearfix {  }
/* ::::: http://localhost:8080/estim-portail-portlet/css/html.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436526618740 ::::: */

ul, p, ol, h1, h2, h3, h4, h5, h6, span { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
a { color: rgb(36, 36, 36); text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
body { color: rgb(36, 36, 36); font-size: 62.5%; font-family: "Open Sans",sans-serif; }
/* ::::: http://localhost:8080/estim-portail-portlet/css/jquery-ui-1.10.4.custom.min.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436526618740 ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
.ui-helper-clearfix { min-height: 0px; }
.ui-datepicker { width: 17em; padding: 0.2em 0.2em 0px; display: none; }
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget-content { border: 1px solid rgb(170, 170, 170); background: white url('ui-bg_flat_75_ffffff_40x100.png') repeat-x scroll 50% 50%; color: rgb(34, 34, 34); }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 4px; }
/* ::::: http://localhost:8080/estim-portail-portlet/css/list-event/wdg-list-event.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436526618740 ::::: */

.prtlt-lst-event .event-container { margin: auto; max-width: 959px; width: 100%; }
.prtlt-lst-event .bloc-filter { border: 1px solid rgb(255, 255, 255); margin-bottom: 20px; border-radius: 4px; }
.prtlt-lst-event .title { color: rgb(69, 100, 86); font-weight: bold; }
.prtlt-lst-event .event-img { width: 65px; height: 65px; }
.prtlt-lst-event .description { clear: both; font-size: 12px; }
.prtlt-lst-event .search-result { display: none; float: left; }
.prtlt-lst-event .form-search { padding: 10px; background-color: rgb(251, 251, 251); color: rgb(0, 64, 128); }
.prtlt-lst-event .form-search .label-search, .prtlt-lst-event .form-search input { display: inline-block; }
.prtlt-lst-event .form-search input { color: rgb(145, 145, 145); font-size: 1.1em; }
.prtlt-lst-event .form-search label { width: inherit; text-align: right; }
.label-search { color: rgb(0, 0, 0); font-size: 13px; margin: 0.5em; width: 14em; }
.input-search { border: 1px solid rgb(245, 197, 197); border-radius: 5px; box-shadow: 1px 1px 2px rgb(192, 192, 192) inset; margin-top: 0.15em; padding: 3px; }
.prtlt-lst-event article { border: 1px solid rgb(192, 192, 192); margin-top: 25px; padding: 20px; position: relative; }
.prtlt-lst-event article { border: 1px solid rgb(192, 192, 192); margin-top: 25px; padding: 20px; position: relative; }
.prtlt-lst-event article .thumb { padding-right: 12px; }
.prtlt-lst-event article .inner, .prtlt-lst-event article .thumb { display: table-cell; vertical-align: top; }
.prtlt-lst-event .list span.title { color: rgb(227, 5, 19); font-size: 1.4em; font-weight: 700; margin: 0px 0px 5px; text-transform: uppercase; width: 50%; }
.prtlt-lst-event #results > ul { margin: 0px; clear: both; }
.prtlt-lst-event #results .list .infos { color: rgb(103, 103, 103); font-size: 1.2em; margin-bottom: 5px; }
.prtlt-lst-event #results .list .infos strong { font-weight: 700; }
.prtlt-lst-event .structure-accueil { color: rgb(32, 117, 128); display: inline-block; font-size: 1.2em; font-weight: 700; }
.prtlt-lst-event .localisation { margin-bottom: 10px; color: rgb(103, 103, 103); font-size: 1.2em; font-weight: 700; }
.prtlt-lst-event .pagination { float: left; font-size: 1.4em; text-transform: uppercase; clear: both; content: " "; display: block; margin-bottom: 15px; }
.prtlt-lst-event .wdg_pager_previous { content: " "; }
.prtlt-lst-event .prevPage, .prtlt-lst-event .nextPage { background: transparent url('ico-pagination.png') no-repeat scroll left top; display: inline-block; height: 0px; overflow: hidden; padding: 28px 0px 0px 28px; vertical-align: middle; width: 0px; }
.prtlt-lst-event .pagination .nextPage { background-position: -28px -28px; margin-left: 3px; margin-right: 15px; }
.prtlt-lst-event .paginationLink { border: 1px solid rgb(138, 138, 138); display: inline-block; font-weight: 700; margin: 0px 3px 2px 0px; min-width: 30px; padding: 3px 6px; text-align: center; vertical-align: middle; background-color: rgb(246, 246, 246); }
.prtlt-lst-event .pagination .active { color: rgb(54, 54, 54); background-color: rgb(255, 228, 92); border: 1px solid rgb(254, 210, 47); }
.prtlt-lst-event #results .list > li { list-style: outside none none ! important; border: medium none ! important; padding: 0px; }
.prtlt-lst-event #results .list .infos { margin-top: 5px; margin-bottom: 5px; margin-left: 0px; color: rgb(103, 103, 103); font-size: 1.2em; }
.prtlt-lst-event #results .list .infos li { display: inline; margin-right: 5px; }
.prtlt-lst-event #results .list .infos strong { font-weight: 700; }
/* ::::: http://localhost:8080/notifications-portlet/notifications/css/main.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436526509080 ::::: */

.aui .dockbar .nav li.dropdown.dockbar-user-notifications .dropdown-menu.pull-right::after { right: 20px; }
/* ::::: http://localhost:8080/estim-portail-portlet/css/alerte-display.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436526618740 ::::: */

/* ::::: http://localhost:8080/estim-blank-theme/css/main.css?browserId=firefox&themeId=estimblank_WAR_estimblanktheme&minifierType=css&languageId=fr_FR&b=6201&t=1436456438000 ::::: */

.html-editor.portlet-message-boards blockquote::after { background: transparent url('quoteright.png') no-repeat scroll 50% center; bottom: 5px; content: ""; display: block; height: 24px; position: absolute; right: 5px; width: 31px; z-index: 999; }
.tree-node .icon-check::before { content: ""; }
.tree-node .tree-node-checked .icon-check::before { content: ""; }
.lfr-editable::after { background: rgb(104, 187, 48) url('edit_white.png') no-repeat scroll 50% center; content: ""; display: block; height: 20px; position: absolute; right: 5px; top: 5px; width: 30px; }
.lfr-editable:focus::after { display: none; }
.lfr-editable:hover::after { background-color: rgb(81, 146, 38); }
.aui .dockbar .diamond::after { border-width: 12px; border-style: solid; border-color: rgb(20, 133, 235) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: ""; height: 0px; left: -12px; position: absolute; top: 12px; width: 0px; }
.portlet-topper { position: relative; }
.portlet-topper .portlet-topper-toolbar { margin: 0px; padding: 2px; position: absolute; right: 3px; text-align: right; top: 3px; z-index: 300; }
.portlet-title { display: block; }
.portlet-title img { vertical-align: middle; }
.portlet-title-text { display: inline-block; max-width: 95%; overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
.portlet-content, .portlet-minimized .portlet-content-container { padding: 12px 10px 10px; }
.lfr-device-preview .lfr-device::after, .lfr-device-preview .lfr-device::before { box-shadow: 0px 1px 0px rgb(17, 17, 17); }
.lfr-device-preview .lfr-device::after { border-radius: 15px; }
.lfr-device-preview .lfr-device.rotated::after, .lfr-device-preview .lfr-device.rotated::before { box-shadow: -1px 1px 0px rgb(17, 17, 17); }
.lfr-device-preview .lfr-device.tablet::before { border-radius: 5px; }
.lfr-upload-container .progress-bar, .lfr-upload-container .progress, .lfr-editable::after { border-radius: 10px; }
body.portal-popup { padding: 0px; }
section.portlet header.portlet-topper { display: none; }
.portlet-content, .portlet-minimized .portlet-content-container { padding: 0px 10px; }
/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:400,700 ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2') format("woff2"), url('k3k702zokiljc3wvjuplzhhcuogz7vygh680lgh-uxm.woff') format("woff");
}
/* ::::: http://localhost:8080/estim-blank-theme/css/estim-liferay.css ::::: */

ul, p, ol, h1, h2, h3, h4, h5, h6, span { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
a { color: rgb(36, 36, 36); text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
html { overflow-y: auto; }
body { color: rgb(36, 36, 36); font-size: 62.5%; font-family: "Open Sans",sans-serif; }
.dockbar::after { clear: none; }
#footer .top li::before { content: " - "; }
#footer .top li:first-child::before { content: ""; }
@media screen and (max-width: 480px), screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
}
@media screen and (min-width: 480px) and (max-width: 768px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
}
@media screen and (max-width: 480px), screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
}
@media screen and (min-width: 480px) and (max-width: 768px) {
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.clearfix::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
:first-child + html .clearfix {  }
/* ::::: http://localhost:8080/estim-blank-theme/css/normalize.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.clearfix::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
:first-child + html .clearfix {  }
/* ::::: http://localhost:8080/combo/?browserId=firefox&minifierType=&languageId=fr_FR&b=6201&t=1395225824000&/html/js/aui/widget-base/assets/skins/sam/widget-base.css&/html/js/aui/widget-stack/assets/skins/sam/widget-stack.css ::::: */

